body{
margin:0;
font-family:Arial;
background:#fafafa;
}

.hidden{
display:none;
}

.login-screen{
text-align:center;
padding:40px;
}

.login-screen h1{
color:#c13584;
}

input,textarea{
width:90%;
padding:10px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
margin:5px;
border:none;
border-radius:8px;
cursor:pointer;
background:#c13584;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,.08);
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
}

.section{
display:none;
padding:20px;
padding-bottom:90px;
}

.active{
display:block;
}

.post,.reel{
background:white;
padding:15px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 2px 8px rgba(0,0,0,.08);
}

img,video{
width:100%;
border-radius:12px;
margin-top:10px;
}

.profile{
text-align:center;
}

.avatar{
width:90px;
height:90px;
border-radius:50%;
background:#ddd;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
margin:auto;
}

nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:white;
padding:10px;
box-shadow:0 -2px 8px rgba(0,0,0,.08);
}